{% extends "base.html" %} 
{% block title %} HOME {% endblock %} 
{% block content %}
  <style>
    body {
      background-color: black;
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      font-size: 100px;
      color: white;
    }
    h1, p {
      color: white;
      font-size: 20px;
    }
  </style>
  <div class="icon">
    <i class="fas fa-shield-alt"></i>
  </div>
  <form method="GET">
    <body>
      <p>Welcome, {{ user.user_name }}</p>
      <p>Email is: {{ user.email }}</p>
      <p>Username is: {{ user.user_name }}</p>
      <p>Account creation time: {{ user.date_created }}</p>
    </body>
  
    <br />
  </form>
{% endblock %}
